<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/style1.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poiret+One">
  <title>twójLekarz</title></head>
<body>
<section class="top-bar">
  <nav class="top-bar-left">
    <ul data-dropdown-menu="" class="dropdown menu">
      <li class="menu-text">twójLekarz</li>
    </ul>
  </nav>
</section>
<section class="form_">
  <form class="register__form" method="post" action="/register">
    <div class="row">
      <div class="medium-6 columns"><label>Imię<input type="text" name="Imie"></label></div>
      <div class="medium-6 columns"><label>Nazwisko<input type="text" name="Nazwisko"></label></div>
    </div>
    <div class="row">
      <div class="medium-6 columns"><label>E-mail<input type="text" name="Email"></label></div>
      <div class="medium-6 columns"><label>Pesel<input type="text" name="Pesel"></label></div>
    </div>
    <div class="row">
      <div class="medium-6 columns"><label>Telefon<input type="text" name="Telefon"></label></div>
      <div class="medium-6 columns"><label>Hasło<input type="text" name="Haslo"></label></div>
    </div>
    <div class="row">
      <input type="submit" value="Zarejestruj"/>
    </div>
  </form>
</section>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script src="main.js"></script>
</body>
</html>
