<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/style1.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poiret+One">
  <title>twójLekarz</title></head>
<body>
<section class="top-bar">
  <nav class="top-bar-left">
    <ul data-dropdown-menu="" class="dropdown menu"><a href="index.html">
      <li class="menu-text">twójLekarz</li>
    </a></ul>
  </nav>
</section>
<section class="form_"><!--form.register__form-->
  <form data-abide="" novalidate="" class="register__form" method="post" action="/register">
    <div data-abide-error="" style="display: none;" class="alert callout"><p><i class="fi-alert"></i> There are some
      errors in your form.</p></div>
    <p class="register__title row darkest">Zacznij od utworzenia konta w serwisie twójLekarz</p>
    <div class="row">
      <div class="medium-6 columns"><label>Imię<input type="text" name="Imie"></label></div>
      <div class="medium-6 columns"><label>Nazwisko<input type="text" name="Nazwisko"></label></div>
    </div>
    <div class="row">
      <div class="medium-6 columns"><label>Hasło<input id="password" type="password" name="haslo"
                                                       placeholder="yeti4preZ" aria-describedby="exampleHelpText"
                                                       required=""><span class="form-error">I'm required!</span></label>
        <p id="exampleHelpText" class="help-text">Proszę wpisać hasło.</p></div>
      <div class="medium-6 columns"><label>Powtórz hasło<input type="password" placeholder="yeti4preZ"
                                                               aria-describedby="exampleHelpText2" required=""
                                                               pattern="alpha_numeric" data-equalto="password"><span
        class="form-error">Hasła sie nie zgadzają, wpisz hasło jeszcze raz!</span></label></div>
    </div>
    <div class="row">
      <div class="medium-6 columns"><label>Pesel<input type="text" name="Pesel" placeholder="54022405478"
                                                       aria-describedby="exampleHelpText" required=""
                                                       pattern="number"><span
        class="form-error">Pesel nie jest poprawny</span></label></div>
      <div class="medium-6 columns"><label>Telefon<input type="text" name="Telefon" placeholder="725605987"
                                                         aria-describedby="exampleHelpText" required=""
                                                         pattern="number"><span class="form-error">Numer nie jest poprawny</span></label>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns"><label>E-mail<input type="text" name="Email" placeholder="ela@wp.pl"
                                                        aria-describedby="exampleHelpText" required="" pattern="email"></label>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <button class="button small greencolor">Rejestruj</button>
      </div>
    </div>
  </form>
</section>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script src="main.js"></script>
</body>
</html>
