doctype html
html
  head
    link(type="text/css", rel='stylesheet', href="/style1.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kaushan+Script|Poiret+One')
    title twójLekarz
  body
    include ./includes/_topbar_r.jade
    include ./includes/_registrationDone.jade


    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js")
    script(src="main.js")
