section.appointment
  .row
    .medium-6.columns
      h4.appointmentDoctorFont Dr Anna Kowalska
      p.appointmentDoctorProffesionFont Dermatolog
  .panel-body
    .row
      .medium-12.columns
        .row
          .medium-5.columns
            .leftAddressPart
              iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39997.67802212986!2d16.123392975869027!3d51.20332572395472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1493830015161', width='400', height='300', frameborder='0', style='border:0', allowfullscreen='')
              b Adres:
              span.fontaddress Zbożowa 9, Łódź
              .buttonvisit
                button.button.small
                  | &#160; Zarejestruj się
          .medium-7.columns.border
            .row
              .daysofweek
                p.daysfont Poniedziałek
                .data
                  p.borderfont 05.05
              .daysofweek
                p.daysfont Wrotek
                .data
                  p.borderfont 05.05
              .daysofweek
                p.daysfont Środa
                .data
                  p.borderfont 05.05
              .daysofweek
                p.daysfont Czwartek
                .data
                  p.borderfont 05.05
              .daysofweek
                p.daysfont Piątek
                .data
                  p.borderfont 05.05
              .daysofweek
                p.daysfont Sobota
                .data
                  p.borderfont 05.05
              .daysofweeklast
                p.daysfont Niedziela
                .data
                  p.borderfont 05.05





