section.form_
  form.register__form
    .row
      .medium-6.columns
        label Imię
          input(type="text" name="Imie")

      .medium-6.columns
        label Nazwisko
          input(type="text" name="Nazwisko")
    .row
      .medium-6.columns
        label Hasło
          input(type="text" name="haslo")

      .medium-6.columns
        label Powtórz hasło
          input(type="text" name="haslo")
    .row
      .medium-6.columns
        label Pesel
          input(type="text" name="Pesel")
      .medium-6.columns
        label Telefon
          input(type="text" name="Telefon")

    .row
      .medium-6.columns
        label E-mail
          input(type="text" name="E-mail")
    .row
      .medium-6.columns
        button.button.small Rejestruj

