section.form_
  //form.register__form
  form.register__form(data-abide='', novalidate='')
    .alert.callout(data-abide-error='', style='display: none;')
      p
        i.fi-alert
        |  There are some errors in your form.
    .row
      .medium-6.columns
        label Imię
          input(type="text" name="Imie")

      .medium-6.columns
        label Nazwisko
          input(type="text" name="Nazwisko")
    .row
      .medium-6.columns
        label
          | Hasło
          input#password(type='password',name='haslo', placeholder='yeti4preZ', aria-describedby='exampleHelpText', required='')
          span.form-error
            | I'm required!
        p#exampleHelpText.help-text Proszę wpisać hasło.
      .medium-6.columns
          label
            | Powtórz hasło
            input(type='password',name='haslo', placeholder='yeti4preZ', aria-describedby='exampleHelpText2', required='', pattern='alpha_numeric', data-equalto='password')
            span.form-error
              | Hasła sie nie zgadzają, wpisz hasło jeszcze raz!

    .row
      .medium-6.columns
        label Pesel
          input(type="text" name="Pesel", placeholder='54022405478', aria-describedby='exampleHelpText', required='', pattern='number')
          span.form-error
            | Pesel nie jest poprawny
      .medium-6.columns
        label Telefon
          input(type="text" name="Telefon",placeholder='725605987', aria-describedby='exampleHelpText', required='', pattern='number')
          span.form-error
            | Numer nie jest poprawny

    .row
      .medium-6.columns
        label E-mail
          input(type="text" name="E-mail",placeholder='ela@wp.pl', aria-describedby='exampleHelpText', required='', pattern='email')
    .row
      .medium-6.columns
        button.button.small Rejestruj

