section.signIn_form.section
  p.register__title.row.darkest Zaloguj się
  .row
    .loginerror
  .row
    .medium-4.columns
      label Twój pesel
        input(type="text" name="pesel")
  .row
    .medium-4.columns
      label hasło
        input(type="text" name="haslo")
  .row
    .medium-6.columns
      button.button.small.greencolor Zaloguj
  .row
    .medium-6.columns.small-1
      a(href='register.html')
        p Nie masz konta ? Rarejestruj się!
