section.form_
  form.register__form
    .row
      .medium-6.columns
        label Imię
          input(type="text" placeholder="Imie")

      .medium-6.columns
        label Nazwisko
          input(type="text" placeholder="Nazwisko")
    .row
      .medium-6.columns
        label E-mail
          input(type="text" placeholder="E-mail")

      .medium-6.columns
        label Pesel
          input(type="text" placeholder="Pesel")
    .row
      .medium-6.columns
        label Adres
          input(type="text" placeholder="Adres")

      .medium-6.columns
        label Hasło
          input(type="text" placeholder="Hasło")
