section.section#highlights
  .row
    .columns.medium-4
      .text-center
        i.fa.fa-user-md.fa-5x
        h3.h3
          | 100 000 lekarzy
      p.paragraph
        | Dajemy Ci dostęp do ponad 100 000 lekarzy w Polsce.
    .columns.medium-4
      .text-center
        i.fa.fa-clock-o.fa-5x
        h3.h3
          | Szybkość
      p.paragraph
        | Wybierz lekarza, dogodny termin i umów wizytę w 3 minuty.
    .columns.medium-4
      .text-center
        i.fa.fa-commenting-o.fa-5x
        h3.h3
          | Profesjonalizm
      p.paragraph
        | Bądź poinformowany o wszelkich zmianach jak najszybciej to możliwe.
