section.section--full.section--fixed#intro
  .row
      .center-vertically
        .columns.medium-6
        .columns.medium-6
          h1.green
            | Znajdź lekarza i umów wizytę
          p.darkest
            | Poszukaj wród najlepszych lekarzy w Polsce,
            br
            | i Ty zasługujesz na najlepszą opiekę!
          .search
            .large-5.small-5.columns
             input(type="text" placeholder="Znajdź lekarza")
            .large-5.small-5.columns
             input(type="text" placeholder="Znajdź miasto")
            .large-3.small-5.columns
            button.button.small Szukaj

