section.success
  .row
    .columns.medium-4
      p.registerCorrect_font Gratuluję! <br> Zostałeś poprawnie zarejestrowany
    .columns.medium-4
      p.ff &rArr;
    .columns.medium-4
      a(href="signIn.html")
        button.button.small.square
          h1.square_font Zaloguj się
