section.results.section
  p.mainResultfont Stomatolog, Łódź
  .resultsField
    .topField
      .medium-7.columns
        p.fontTopField Znajdź lekarza i umów wizytę
      .medium-5.columns
        .datefont.leftf dzis
        .datefont.leftp jutro
        .datefont.leftp pojutrze
    .leftField
      .nameField
        .nameFieldfont Imie, Nazwisko
        .proffesionfont stomatolog
      .addressField
        b Adress:
        span.fontaddress Zbożowa 9, Łódź
        br
        .buttonvisit
          button.button.small
           i.fa.fa-calendar(aria-hidden='true')
           | &#160; Umów wizytę

    .rightField
      .datesField
        .oneday
          .hour 14:30
        .oneday
          .hour 14:30
          .hour 15:00
        .lastday
