section.results.section
  h3.top.row.darkest Znajdź lekarza i umów wizytę

  .row
    .blueFieldUpAQ
      div
        span.signSmallFont.sign_bigger Imię, nazwisko
        br
        span.lightFont.bigger zawód ( ginekolog, itd.. )
        br
        span.lightFont.smaller Adres:
    .LongBlueFieldAQ
    .content
      .squares
        center
        .underBorder.lightFont Poniedziałek
        .circle
      .squares
        center
        .underBorder.lightFont Wtorek
        .circle
      .squares
        center
        .underBorder.lightFont Środa
        .circle
      .squares
        center
        .underBorder.lightFont Czwartek
        .circle
      .squares
        center
        .underBorder.lightFont Piątek
        .circle
