section.top-bar
  nav.top-bar-left
    ul.dropdown.menu(data-dropdown-menu='')
      a(href='index.html')
        li.menu-text twójLekarz
  nav.top-bar-right
    ul.dropdown.menu(data-dropdown-menu='')
      li.navigation__item
        a.navigation__link(href="signIn.html") Zaloguj się
      li.navigation__item
        a.navigation__link(href='register.html') Zarejestruj się
