section.top-bar
  nav.top-bar-left
    ul.dropdown.menu(data-dropdown-menu='')
      li.menu-text twójLekarz
  nav.top-bar-right
    ul.dropdown.menu(data-dropdown-menu='')
      li.navigation__item
        a.navigation__link(href='#') Zaloguj się
      li.navigation__item
        a.navigation__link(href='#highlights') Zarejestruj się
